<div class="container">
    <h2>Modifier le post</h2>
    <div class="form-group">
      <label for="author">Auteur</label>
      <input type="text" class="form-control" id="author" [(ngModel)]="post.author" name="author" placeholder="Nom de l'auteur">
    </div>

    <input type="file" class="form-control" id="imageFile" name="imageFile" (change)="onFileSelected($event)">

    <div class="form-group">
      <label for="content">Contenu</label>
      <textarea class="form-control" id="content" [(ngModel)]="post.content" name="content" placeholder="Contenu du post"></textarea>
    </div>
    <!-- Button pour modifier le post -->
    <button class="btn btn-primary" (click)="modifyPost()">Modifier</button>
  </div>
