

<div class="">
        <div class="card-body">
          <div class="row">
            <div class="col-12 mb-50">
              <h2>Liste des Reclamations :</h2>

              <button class="btn btn-primary ml-1" rippleEffect [routerLink]="['../ajoutereclamaton']">
                <i data-feather="plus" class="mr-0 mr-sm-1"></i
                ><span class="d-none d-sm-inline-block" >Ajouter Reclamation</span>
              </button>
                              <div class="col-md-6 col-12">
              <div class="d-flex justify-content-between align-items-center m-1">
                <label class="d-flex align-items-center"
                  >                <input type="search" placeholder="Search" class="form-control ml-25" [(ngModel)]="searchKeyword" (input)="searchReclamations()" />
                </label>
              </div>
            </div>
             
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
                    
              <tr>
                  <th>Categorie</th>
                  <th >Nom</th>
                  <th >Description</th>
                  <th >Date de Soumission</th>
                  <th>status</th>
                  <th >Actions</th>
                
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let reclamation of reclamations | paginate: { itemsPerPage: 2, currentPage: p }" class="table-default">
               
                          <td>{{ reclamation.categorie }}</td>
                          <td>{{ reclamation.name }}</td>
                          <td>{{ reclamation.descriptionReclamation }}</td>
                      <td>{{ reclamation.dateSoumission| date:'mediumDate' }}</td>
                      <td>{{reclamation.status}}</td>

                
                  
                      <td>
                        <i data-feather="trash-2" class="btn btn-danger" (click)="reclamation.id && deleteReclamation(reclamation.id)">Supprimer</i>
                        <i data-feather="edit" class="btn btn-primary" (click)="openResponseForm(reclamation)">Répondre</i>

                      </td>
                    
              </tr>
            
            </tbody>
          </table>
          <pagination-controls class="my-4" (pageChange)="p = $event"></pagination-controls>

          <h5 class="card-header">Statistique Reclamation par Catégories : </h5>
        
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="chart-container">
                <canvas id="myChart"></canvas>
              </div>
            </div>
          </div>

        </div>
</div>


    
     
  