<style>
  .container {
    max-width: 400px; /* Largeur maximale du formulaire */
    margin: 0 auto; /* Pour centrer horizontalement */
    padding: 20px;
    background-color: #f9f9f9; /* Couleur de fond claire */
    border-radius: 8px; /* Coins arrondis pour le conteneur */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre douce */
    margin-top: 250px; /* Espace au-dessus du formulaire */
    display: flex; /* Utilisation de flexbox */
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: center; /* Centre les éléments horizontalement */
    height: 510px;
    width: 720px;
  }

  h2 {
    text-align: center; /* Centrer le titre */
  }

  .form-group {
    margin-bottom: 20px; /* Espace entre les champs de formulaire */
  }

  label {
    display: block; /* Afficher chaque étiquette sur une nouvelle ligne */
    font-weight: bold; /* Texte en gras pour les étiquettes */
  }

  input[type="text"],
  input[type="password"] {
    width: 100%; /* Largeur totale pour les champs de texte */
    padding: 10px; /* Espace intérieur */
    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 4px; /* Coins arrondis pour les champs de texte */
    box-sizing: border-box; /* Inclure la bordure et le remplissage dans la largeur */
  }

  button {
    width: 100%; /* Largeur totale pour le bouton */
    padding: 10px; /* Espace intérieur */
    background-color: #007bff; /* Couleur de fond bleue */
    color: #fff; /* Texte blanc */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Coins arrondis pour le bouton */
    cursor: pointer; /* Curseur pointeur au survol */
  }

  button.button-disabled {
    background-color: #ccc; /* Couleur de fond grise pour le bouton désactivé */
    cursor: not-allowed; /* Curseur interdit pour le bouton désactivé */
  }

  a {
    display: block; /* Afficher le lien sur une nouvelle ligne */
    text-align: center; /* Centrer le lien */
    margin-top: 10px; /* Espace au-dessus du lien */
    color: #007bff; /* Couleur du lien bleue */
    text-decoration: none; /* Pas de soulignement */
  }
</style>
<div >
  <img src="assets/back.jpg" style="position: absolute;" class="image">
  <div class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" *ngIf="!authResponse.mfaEnabled">
    <br><br><h2>Login</h2>
    <br><br><br>
    <form (ngSubmit)="authenticate()">
      <div class="form-group">
        <label for="username">Email</label>
        <input type="text" id="username" name="username" required [(ngModel)]="authRequest.email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required [(ngModel)]="authRequest.password">
      </div>
      <button type="submit">Login</button>
      <a routerLink="/register">Register</a>
    </form>
  </div>
</div>

<div class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" *ngIf="authResponse.mfaEnabled">
  <h2>Two-Factor Authentication</h2>
  <div class="form-group">
    <label for="validationCode">Enter 6 digits Validation Code Generated by the app</label>
    <input
      type="text"
      id="validationCode"
      name="validationCode"
      required
      [(ngModel)]="otpCode"
    >
  </div>
  <button type="button" (click)="verifyCode()"
          [class.button-disabled]="otpCode.length < 6"
  >Verify code</button>
</div>
