
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="index.html" class="app-brand-link">

          <img src="assets\logo.png" class="image">
        <span class="app-brand-text demo menu-text fw-bolder ms-2">MindCare  </span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item active">
        <a href="index.html" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>



 
      <!-- Components -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Tables</span></li>
      <!-- Cards -->



      <!-- Extended components -->
      <li class="menu-item">
        <a routerLink="/admin/user" class="menu-link ">
          <i class="menu-icon tf-icons bx bx-copy"></i>
          <div data-i18n="Extended UI">Users</div>
        </a>

      </li>

      <li class="menu-item">
        <a routerLink="/admin/listCategory" class="menu-link ">
          <i class="menu-icon tf-icons bx bx-copy"></i>
          <div data-i18n="Extended UI">Categories of Ressources</div>
        </a>

      </li>


      <li class="menu-item">
        <a routerLink="/admin/post" class="menu-link ">
          <i class="menu-icon tf-icons bx bx-copy"></i>
          <div data-i18n="Extended UI">Posts</div>
        </a>
        
      </li>

      <li class="menu-item">
        <a routerLink="/admin/reclamation" class="menu-link ">
          <i class="menu-icon tf-icons bx bx-copy"></i>
          <div data-i18n="Extended UI">Issues</div>
        </a>

      </li>
      <li class="menu-item">
        <a routerLink="/admin/events" class="menu-link ">
          <i class="menu-icon tf-icons bx bx-copy"></i>
          <div data-i18n="Extended UI">Events</div>
        </a>

      </li>


      <!-- Extended components -->
      <li class="menu-item">
        <a routerLink="/admin/listreponse" class="menu-link ">
          <i class="menu-icon tf-icons bx bx-copy"></i>
          <div data-i18n="Extended UI"> Responses of Issues</div>
        </a>

      </li>

      <li class="menu-item">
        <a routerLink="categoryexercise" class="menu-link ">
          <i class="menu-icon tf-icons bx bx-copy"></i>
          <div data-i18n="Extended UI">Categories of exercise</div>
        </a>

      </li>
      <li class="menu-item">
        <a routerLink="exerciseback" class="menu-link ">
          <i class="menu-icon tf-icons bx bx-copy"></i>
          <div data-i18n="Extended UI">exercise</div>
        </a>

      </li>


    </ul>
  </aside>




